---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?facet=type-name:10,published:10,container-title:10,publisher-name:10,funder-name:10&order=desc&query=josiah%20carberry&rows=10&sort=score
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"type-name":{"value-count":10,"values":{"Journal
        Article":3953,"Chapter":856,"Conference Paper":274,"Dataset":192,"Reference":90,"Monograph":87,"Entry":86,"Book":39,"Other":14,"Report":13}},"published":{"value-count":10,"values":{"2017":281,"2016":267,"2014":229,"2000":221,"2013":205,"2012":205,"2015":188,"2011":187,"2018":179,"2010":131}},"container-title":{"value-count":10,"values":{"Electronic
        Enlightenment document collection":113,"Notes and Queries":102,"The American
        Mathematical Monthly":80,"The American Historical Review":69,"Program Logics
        for Certified Compilers":56,"Oxford Dictionary of National Biography":52,"The
        Foundations of Science":46,"Ethics":42,"The International Journal of Ethics":39,"American
        National Biography Online":38}},"publisher-name":{"value-count":10,"values":{"Elsevier
        BV":600,"JSTOR":408,"Wiley":336,"Oxford University Press (OUP)":275,"Springer
        Nature":263,"Informa UK Limited":242,"Oxford University Press":230,"Cambridge
        University Press":214,"University of Chicago Press":212,"SAGE Publications":141}},"funder-name":{"value-count":10,"values":{"Josiah
        Macy Jr. Foundation":98,"National Science Foundation":34,"Josiah Macy, Jr.
        Foundation":28,"National Institutes of Health":15,"Rockefeller Foundation":9,"National
        Institute on Drug Abuse":9,"National Health and Medical Research Council":8,"National
        Institute of General Medical Sciences":7,"Laboratory Directed Research and
        Development":6,"Air Force Office of Scientific Research":6}}},"total-results":5617,"items":[{"indexed":{"date-parts":[[2018,7,10]],"date-time":"2018-07-10T23:10:06Z","timestamp":1531264206747},"update-to":[{"updated":{"date-parts":[[2018,1,1]],"date-time":"2018-01-01T00:00:00Z","timestamp":1514764800000},"DOI":"10.5555\/12345678","type":"corrigendum","label":"Corrigendum"}],"reference-count":6,"publisher":"Test
        accounts","issue":"11","license":[{"URL":"http:\/\/psychoceramicsproprietrylicenseV1.com","start":{"date-parts":[[2011,11,21]],"date-time":"2011-11-21T00:00:00Z","timestamp":1321833600000},"delay-in-days":1195,"content-version":"tdm"},{"URL":"http:\/\/psychoceramicsproprietrylicenseV1.com","start":{"date-parts":[[2011,11,21]],"date-time":"2011-11-21T00:00:00Z","timestamp":1321833600000},"delay-in-days":1195,"content-version":"vor"},{"URL":"http:\/\/http:\/\/psychoceramicsproprietrylicenseV1.com","start":{"date-parts":[[2011,11,21]],"date-time":"2011-11-21T00:00:00Z","timestamp":1321833600000},"delay-in-days":1195,"content-version":"am"}],"funder":[{"DOI":"10.13039\/100000001","name":"National
        Science Foundation","doi-asserted-by":"publisher","award":["12345678"]},{"DOI":"10.13039\/100006151","name":"Basic
        Energy Sciences","doi-asserted-by":"publisher","award":["12345679"]}],"content-domain":{"domain":["psychoceramics.labs.crossref.org"],"crossmark-restriction":false},"chair":[{"name":"Friends
        of Josiah Carberry","sequence":"additional","affiliation":[]}],"short-container-title":["Journal
        of Psychoceramics"],"published-print":{"date-parts":[[2008,8,14]]},"abstract":"<jats:p>The
        characteristic theme of the works of Stone is the bridge between culture and
        society. Several narratives concerning the fatal !aw, and subsequent dialectic,
        of semioticist class may be found.\nThus, Debord uses the term \u2018the subtextual
        paradigm of consensus\u2019 to denote a cultural paradox. The subject is interpolated
        into a neocultural discourse that includes sexuality as a totality.\nBut Marx\u2019s
        critique of prepatriarchialist nihilism states that consciousness is capable
        of signi\"cance. The main theme of Dietrich\u2019s[1]model of cultural discourse
        is not construction, but neoconstruction.\nThus, any number of narratives
        concerning the textual paradigm of narrative exist. Pretextual cultural theory
        suggests that context must come from the collective unconscious.<\/jats:p>","DOI":"10.5555\/12345678","type":"journal-article","created":{"date-parts":[[2011,11,9]],"date-time":"2011-11-09T14:42:05Z","timestamp":1320849725000},"page":"1-3","update-policy":"http:\/\/dx.doi.org\/10.5555\/something","source":"Crossref","is-referenced-by-count":2,"title":["Toward
        a Unified Theory of High-Energy Metaphysics: Silly String Theory"],"prefix":"10.5555","volume":"5","clinical-trial-number":[{"clinical-trial-number":"isrctn12345","registry":"10.18810\/isrctn"}],"author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-1825-0097","authenticated-orcid":false,"suffix":"Jr.","given":"Josiah","family":"Carberry","sequence":"first","affiliation":[{"name":"Department
        of Psychoceramics, Brown University"}]}],"member":"7822","published-online":{"date-parts":[[2008,8,13]]},"container-title":["Journal
        of Psychoceramics"],"language":"en","link":[{"URL":"http:\/\/psychoceramics.labs.crossref.org\/10.5555-12345678.html","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,7,10]],"date-time":"2018-07-10T22:38:49Z","timestamp":1531262329000},"score":27.877134,"issued":{"date-parts":[[2008,8,13]]},"references-count":6,"journal-issue":{"published-online":{"date-parts":[[2008,2,29]]},"published-print":{"date-parts":[[2008,2,29]]},"issue":"11"},"URL":"http:\/\/dx.doi.org\/10.5555\/12345678","archive":["CLOCKSS"],"relation":{"is-reply-to":[{"id-type":"doi","id":"10.5555\/24242424x","asserted-by":"subject"}]},"ISSN":["0264-3561"],"issn-type":[{"value":"0264-3561","type":"electronic"}],"assertion":[{"URL":"http:\/\/orcid.org\/0000-0002-1825-0097","order":0,"name":"orcid","label":"ORCID","explanation":{"URL":"IDs
        for Or"}},{"value":"2012-07-24","order":0,"name":"received","label":"Received","group":{"name":"publication_history","label":"Publication
        History"}},{"value":"2012-08-29","order":1,"name":"accepted","label":"Accepted","group":{"name":"publication_history","label":"Publication
        History"}},{"value":"2012-09-26","order":2,"name":"published_online","label":"Published
        Online","group":{"name":"publication_history","label":"Publication History"}},{"value":"2012-10-27","order":3,"name":"published_print","label":"Published
        Print","group":{"name":"publication_[...]
