---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":98191592,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 10 Jul 2018 22:51:20 GMT
- request:
    method: get
    uri: https://api.crossref.org/funders?rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":0,"query":{"start-index":0,"search-terms":null},"total-results":18067,"items":[]}}'
  recorded_at: Tue, 10 Jul 2018 22:51:21 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2954618,"items":[],"items-per-page":0,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 10 Jul 2018 22:51:21 GMT
recorded_with: VCR 4.0.0
